namespace HW_18.product
{
    public class createProduct
    {
<div class="container px-5 my-5">
    <form id="contactForm" data-sb-form-api-token="API_TOKEN" method="post" asp-action="createProduct">
        <div class="form-floating mb-3">
            <input class="form-control" id="name" type="text" placeholder="Name" data-sb-validations="required" />
            <label for="name">Name</label>
            <div class="invalid-feedback" name="name" data-sb-feedback="name:required">Name is required.</div>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="price" name="price" type="text" placeholder="Price" data-sb-validations="required" />
            <label for="price">Price</label>
            <div class="invalid-feedback" data-sb-feedback="price:required">Price is required.</div>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="category" name="category" type="text" placeholder="Category" data-sb-validations="required" />
            <label for="category">Category</label>
            <div class="invalid-feedback" data-sb-feedback="category:required">Category is required.</div>
        </div>
        <div class="d-none" id="submitSuccessMessage">
            <div class="text-center mb-3">
                <div class="fw-bolder">Form submission successful!</div>
                <p>To activate this form, sign up at</p>
                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
            </div>
        </div>
        <div class="d-none" id="submitErrorMessage">
            <div class="text-center text-danger mb-3">Error sending message!</div>
        </div>
        <div class="d-grid">
            <button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button>
        </div>
    </form>
</div>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    }
}
